{#
/**
 * @file
 * Default theme implementation to output communico item
 *
 * Available variables:
 *   - title_link
 *   - start_date
 *   - end_date
 *   - location
 *   - room
 *
 *
 * @ingroup themeable
 */
#}
<div class="communico-item">
  <div class="title">{{ title_link }}</div>
  <div class="dates">{{ start_date }} - {{ end_date }}</div>
  <div class="location">{{ location }}: {{ room }}</div>
</div>
